button a{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    color:#FFF;
}
a:hover{
    color: #FFF;
    text-decoration:none;
}
span{
    margin-left: 10px;
}
.info{
    color:#ff0000;
    margin-left: 5px;
}
h3{
    color:  #31708f;
}

#dataPagamento{
    display:none;
}

label.error{
    color:#CC0000;
    font-weight:bold;
    float:right;
    font-size: 13px;
    font-family:sans-serif;
}
    