.navbar-inverse{
    background-color:  #31708f;
    border: none;
}
.navbar-inverse .navbar-brand{
    font-size: 30px;
    margin-top: 13px;
    margin-bottom: 15px;
    font-family: sans-serif;
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-family: sans-serif;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #269abc;
}
a{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.panel .panel-heading{
    background-color:#31708f;
}

.panel-body{
    background-color: #7FFFD4;
    color:#31708f;
    text-align: center;
    font-size: 22px;
}

h4{
    color:#FFF;
    font-size: 22px;
}

span{
    font-size: 25px;
}


.glyphicon{
    font-size: 13px;
    margin-left: 6px;
}