p{
    text-align: center;
    margin-top: 70px;
    font-size: 19px;
    font-family: sans-serif;
}

p a{

    font-size: 19px;
    font-family: sans-serif;
}

p a:hover{
    text-decoration:none;
}

footer p a:hover{
    text-decoration:none;
}